:root {
  /* COLOR */
  --accent-background: rgb(99, 87, 64);
  --accent-background-active: rgb(82, 72, 52);
  --accent-background-disabled: rgb(213, 210, 204);
  --accent-background-faint: rgb(245, 244, 242);
  --accent-background-faint-active: rgb(213, 210, 204);
  --accent-background-faint-disabled: rgb(245, 244, 242);
  --accent-background-faint-hover: rgb(231, 229, 226);
  --accent-background-hover: rgb(155, 148, 133);
  --accent-background-subdued: rgb(155, 148, 133);
  --accent-border: rgb(99, 87, 64);
  --accent-border-active: rgb(82, 72, 52);
  --accent-border-disabled: rgb(213, 210, 204);
  --accent-border-faint: rgb(245, 244, 242);
  --accent-border-faint-active: rgb(213, 210, 204);
  --accent-border-faint-disabled: rgb(245, 244, 242);
  --accent-border-faint-hover: rgb(231, 229, 226);
  --accent-border-hover: rgb(155, 148, 133);
  --accent-border-subdued: rgb(155, 148, 133);
  --accent-content: rgb(99, 87, 64);
  --accent-content-active: rgb(82, 72, 52);
  --accent-content-disabled: rgb(155, 148, 133);
  --accent-content-faint: rgb(253, 253, 253);
  --accent-content-faint-active: rgb(213, 210, 204);
  --accent-content-faint-disabled: rgb(155, 148, 133);
  --accent-content-faint-hover: rgb(231, 229, 226);
  --accent-content-hover: rgb(155, 148, 133);
  --accent-content-subdued: rgb(155, 148, 133);
  --background-black: rgb(22, 22, 22);
  --background-default: rgb(253, 253, 253);
  --canvas-default: rgb(243, 244, 242);
  --canvas-inverse: rgb(22, 22, 22);
  --critical-background: rgb(183, 10, 21);
  --critical-background-active: rgb(114, 6, 13);
  --critical-background-disabled: rgb(239, 202, 204);
  --critical-background-faint: rgb(251, 241, 242);
  --critical-background-faint-active: rgb(239, 202, 204);
  --critical-background-faint-disabled: rgb(251, 241, 242);
  --critical-background-faint-hover: rgb(246, 224, 226);
  --critical-background-hover: rgb(190, 37, 46);
  --critical-background-subdued: rgb(215, 122, 128);
  --critical-border: rgb(183, 10, 21);
  --critical-border-active: rgb(114, 6, 13);
  --critical-border-disabled: rgb(239, 202, 204);
  --critical-border-faint: rgb(251, 241, 242);
  --critical-border-faint-active: rgb(239, 202, 204);
  --critical-border-faint-disabled: rgb(251, 241, 242);
  --critical-border-faint-hover: rgb(246, 224, 226);
  --critical-border-hover: rgb(190, 37, 46);
  --critical-border-subdued: rgb(215, 122, 128);
  --critical-content: rgb(183, 10, 21);
  --critical-content-active: rgb(114, 6, 13);
  --critical-content-disabled: rgb(215, 122, 128);
  --critical-content-faint: rgb(254, 252, 252);
  --critical-content-faint-active: rgb(239, 202, 204);
  --critical-content-faint-disabled: rgb(215, 122, 128);
  --critical-content-faint-hover: rgb(246, 224, 226);
  --critical-content-hover: rgb(190, 37, 46);
  --critical-content-subdued: rgb(215, 122, 128);
  --info-background: rgb(36, 90, 133);
  --info-background-active: rgb(22, 57, 84);
  --info-background-disabled: rgb(199, 213, 224);
  --info-background-faint: rgb(241, 244, 247);
  --info-background-faint-active: rgb(199, 213, 224);
  --info-background-faint-disabled: rgb(241, 244, 247);
  --info-background-faint-hover: rgb(222, 230, 237);
  --info-background-hover: rgb(53, 103, 142);
  --info-background-subdued: rgb(120, 153, 179);
  --info-border: rgb(36, 90, 133);
  --info-border-active: rgb(22, 57, 84);
  --info-border-disabled: rgb(199, 213, 224);
  --info-border-faint: rgb(241, 244, 247);
  --info-border-faint-active: rgb(199, 213, 224);
  --info-border-faint-disabled: rgb(241, 244, 247);
  --info-border-faint-hover: rgb(222, 230, 237);
  --info-border-hover: rgb(53, 103, 142);
  --info-border-subdued: rgb(120, 153, 179);
  --info-content: rgb(36, 90, 133);
  --info-content-active: rgb(22, 57, 84);
  --info-content-disabled: rgb(120, 153, 179);
  --info-content-faint: rgb(241, 244, 247);
  --info-content-faint-active: rgb(199, 213, 224);
  --info-content-faint-disabled: rgb(120, 153, 179);
  --info-content-faint-hover: rgb(222, 230, 237);
  --info-content-hover: rgb(53, 103, 142);
  --info-content-subdued: rgb(120, 153, 179);
  --neutral-background: rgb(73, 73, 71);
  --neutral-background-active: rgb(54, 54, 53);
  --neutral-background-disabled: rgb(210, 211, 205);
  --neutral-background-faint: rgb(243, 244, 242);
  --neutral-background-faint-active: rgb(210, 211, 205);
  --neutral-background-faint-disabled: rgb(243, 244, 242);
  --neutral-background-faint-hover: rgb(229, 230, 226);
  --neutral-background-hover: rgb(99, 99, 97);
  --neutral-background-subdued: rgb(148, 149, 145);
  --neutral-border: rgb(73, 73, 71);
  --neutral-border-active: rgb(54, 54, 53);
  --neutral-border-disabled: rgb(210, 211, 205);
  --neutral-border-faint: rgb(229, 230, 226);
  --neutral-border-faint-active: rgb(148, 149, 145);
  --neutral-border-faint-disabled: rgb(229, 230, 226);
  --neutral-border-faint-hover: rgb(210, 211, 205);
  --neutral-border-hover: rgb(99, 99, 97);
  --neutral-border-subdued: rgb(99, 99, 97);
  --neutral-content: rgb(38, 39, 37);
  --neutral-content-active: rgb(54, 54, 53);
  --neutral-content-disabled: rgb(99, 99, 97);
  --neutral-content-faint: rgb(253, 253, 253);
  --neutral-content-faint-active: rgb(210, 211, 205);
  --neutral-content-faint-disabled: rgb(148, 149, 145);
  --neutral-content-faint-hover: rgb(229, 230, 226);
  --neutral-content-hover: rgb(99, 99, 97);
  --neutral-content-subdued: rgb(99, 99, 97);
  --primary-background: rgb(55, 30, 225);
  --primary-background-active: rgb(40, 22, 165);
  --primary-background-disabled: rgb(212, 206, 248);
  --primary-background-faint: rgb(244, 243, 253);
  --primary-background-faint-active: rgb(212, 206, 248);
  --primary-background-faint-disabled: rgb(244, 243, 253);
  --primary-background-faint-hover: rgb(229, 226, 251);
  --primary-background-hover: rgb(91, 71, 230);
  --primary-background-subdued: rgb(148, 135, 239);
  --primary-border: rgb(55, 30, 225);
  --primary-border-active: rgb(29, 16, 120);
  --primary-border-disabled: rgb(212, 206, 248);
  --primary-border-faint: rgb(244, 243, 253);
  --primary-border-faint-active: rgb(212, 206, 248);
  --primary-border-faint-disabled: rgb(244, 243, 253);
  --primary-border-faint-hover: rgb(229, 226, 251);
  --primary-border-hover: rgb(91, 71, 230);
  --primary-border-subdued: rgb(148, 135, 239);
  --primary-content: rgb(55, 30, 225);
  --primary-content-active: rgb(29, 16, 120);
  --primary-content-disabled: rgb(148, 135, 239);
  --primary-content-faint: rgb(253, 253, 255);
  --primary-content-faint-active: rgb(212, 206, 248);
  --primary-content-faint-disabled: rgb(148, 135, 239);
  --primary-content-faint-hover: rgb(229, 226, 251);
  --primary-content-hover: rgb(91, 71, 230);
  --primary-content-subdued: rgb(148, 135, 239);
  --secondary-background: rgb(15, 42, 70);
  --secondary-background-active: rgb(8, 23, 39);
  --secondary-background-disabled: rgb(206, 212, 217);
  --secondary-background-faint: rgb(242, 244, 245);
  --secondary-background-faint-active: rgb(206, 212, 217);
  --secondary-background-faint-disabled: rgb(242, 244, 245);
  --secondary-background-faint-hover: rgb(227, 230, 234);
  --secondary-background-hover: rgb(30, 56, 82);
  --secondary-background-subdued: rgb(137, 150, 164);
  --secondary-border: rgb(15, 42, 70);
  --secondary-border-active: rgb(8, 23, 39);
  --secondary-border-disabled: rgb(206, 212, 217);
  --secondary-border-faint: rgb(242, 244, 245);
  --secondary-border-faint-active: rgb(206, 212, 217);
  --secondary-border-faint-disabled: rgb(242, 244, 245);
  --secondary-border-faint-hover: rgb(227, 230, 234);
  --secondary-border-hover: rgb(30, 56, 82);
  --secondary-border-subdued: rgb(137, 150, 164);
  --secondary-content: rgb(15, 42, 70);
  --secondary-content-active: rgb(8, 23, 39);
  --secondary-content-disabled: rgb(137, 150, 164);
  --secondary-content-faint: rgb(253, 253, 253);
  --secondary-content-faint-active: rgb(206, 212, 217);
  --secondary-content-faint-disabled: rgb(137, 150, 164);
  --secondary-content-faint-hover: rgb(227, 230, 234);
  --secondary-content-hover: rgb(30, 56, 82);
  --secondary-content-subdued: rgb(137, 150, 164);
  --success-background: rgb(28, 101, 73);
  --success-background-active: rgb(17, 62, 44);
  --success-background-disabled: rgb(196, 215, 208);
  --success-background-faint: rgb(240, 245, 243);
  --success-background-faint-active: rgb(196, 215, 208);
  --success-background-faint-disabled: rgb(240, 245, 243);
  --success-background-faint-hover: rgb(221, 232, 227);
  --success-background-hover: rgb(42, 111, 84);
  --success-background-subdued: rgb(112, 158, 140);
  --success-border: rgb(28, 101, 73);
  --success-border-active: rgb(17, 62, 44);
  --success-border-disabled: rgb(196, 215, 208);
  --success-border-faint: rgb(240, 245, 243);
  --success-border-faint-active: rgb(196, 215, 208);
  --success-border-faint-disabled: rgb(240, 245, 243);
  --success-border-faint-hover: rgb(221, 232, 227);
  --success-border-hover: rgb(42, 111, 84);
  --success-border-subdued: rgb(112, 158, 140);
  --success-content: rgb(28, 101, 73);
  --success-content-active: rgb(17, 62, 44);
  --success-content-disabled: rgb(112, 158, 140);
  --success-content-faint: rgb(253, 253, 253);
  --success-content-faint-active: rgb(196, 215, 208);
  --success-content-faint-disabled: rgb(112, 158, 140);
  --success-content-faint-hover: rgb(221, 232, 227);
  --success-content-hover: rgb(42, 111, 84);
  --success-content-subdued: rgb(112, 158, 140);
  --warning-background: rgb(152, 63, 0);
  --warning-background-active: rgb(92, 39, 0);
  --warning-background-disabled: rgb(228, 206, 189);
  --warning-background-faint: rgb(248, 242, 238);
  --warning-background-faint-active: rgb(228, 206, 189);
  --warning-background-faint-disabled: rgb(248, 242, 238);
  --warning-background-faint-hover: rgb(240, 227, 218);
  --warning-background-hover: rgb(158, 76, 17);
  --warning-background-subdued: rgb(191, 137, 98);
  --warning-border: rgb(152, 63, 0);
  --warning-border-active: rgb(92, 39, 0);
  --warning-border-disabled: rgb(228, 206, 189);
  --warning-border-faint: rgb(248, 242, 238);
  --warning-border-faint-disabled: rgb(248, 242, 238);
  --warning-border-faint-hover: rgb(240, 227, 218);
  --warning-border-hover: rgb(158, 76, 17);
  --warning-border-subdued: rgb(191, 137, 98);
  --warning-border-aint-active: rgb(228, 206, 189);
  --warning-content: rgb(152, 63, 0);
  --warning-content-active: rgb(92, 39, 0);
  --warning-content-disabled: rgb(191, 137, 98);
  --warning-content-faint: rgb(254, 253, 252);
  --warning-content-faint-active: rgb(228, 206, 189);
  --warning-content-faint-disabled: rgb(191, 137, 98);
  --warning-content-faint-hover: rgb(240, 227, 218);
  --warning-content-hover: rgb(158, 76, 17);
  --warning-content-subdued: rgb(191, 137, 98);
}
