// COLOR
$accentBackground: #635740;
$accentBackgroundActive: #524834;
$accentBackgroundDisabled: #d5d2cc;
$accentBackgroundFaint: #f5f4f2;
$accentBackgroundFaintActive: #d5d2cc;
$accentBackgroundFaintDisabled: #f5f4f2;
$accentBackgroundFaintHover: #e7e5e2;
$accentBackgroundHover: #9b9485;
$accentBackgroundSubdued: #9b9485;
$accentBorder: #635740;
$accentBorderActive: #524834;
$accentBorderDisabled: #d5d2cc;
$accentBorderFaint: #f5f4f2;
$accentBorderFaintActive: #d5d2cc;
$accentBorderFaintDisabled: #f5f4f2;
$accentBorderFaintHover: #e7e5e2;
$accentBorderHover: #9b9485;
$accentBorderSubdued: #9b9485;
$accentContent: #635740;
$accentContentActive: #524834;
$accentContentDisabled: #9b9485;
$accentContentFaint: #fdfdfd;
$accentContentFaintActive: #d5d2cc;
$accentContentFaintDisabled: #9b9485;
$accentContentFaintHover: #e7e5e2;
$accentContentHover: #9b9485;
$accentContentSubdued: #9b9485;
$backgroundBlack: #161616;
$backgroundDefault: #fdfdfd;
$canvasDefault: #f3f4f2;
$canvasInverse: #161616;
$criticalBackground: #b70a15;
$criticalBackgroundActive: #72060d;
$criticalBackgroundDisabled: #efcacc;
$criticalBackgroundFaint: #fbf1f2;
$criticalBackgroundFaintActive: #efcacc;
$criticalBackgroundFaintDisabled: #fbf1f2;
$criticalBackgroundFaintHover: #f6e0e2;
$criticalBackgroundHover: #be252e;
$criticalBackgroundSubdued: #d77a80;
$criticalBorder: #b70a15;
$criticalBorderActive: #72060d;
$criticalBorderDisabled: #efcacc;
$criticalBorderFaint: #fbf1f2;
$criticalBorderFaintActive: #efcacc;
$criticalBorderFaintDisabled: #fbf1f2;
$criticalBorderFaintHover: #f6e0e2;
$criticalBorderHover: #be252e;
$criticalBorderSubdued: #d77a80;
$criticalContent: #b70a15;
$criticalContentActive: #72060d;
$criticalContentDisabled: #d77a80;
$criticalContentFaint: #fefcfc;
$criticalContentFaintActive: #efcacc;
$criticalContentFaintDisabled: #d77a80;
$criticalContentFaintHover: #f6e0e2;
$criticalContentHover: #be252e;
$criticalContentSubdued: #d77a80;
$infoBackground: #245a85;
$infoBackgroundActive: #163954;
$infoBackgroundDisabled: #c7d5e0;
$infoBackgroundFaint: #f1f4f7;
$infoBackgroundFaintActive: #c7d5e0;
$infoBackgroundFaintDisabled: #f1f4f7;
$infoBackgroundFaintHover: #dee6ed;
$infoBackgroundHover: #35678e;
$infoBackgroundSubdued: #7899b3;
$infoBorder: #245a85;
$infoBorderActive: #163954;
$infoBorderDisabled: #c7d5e0;
$infoBorderFaint: #f1f4f7;
$infoBorderFaintActive: #c7d5e0;
$infoBorderFaintDisabled: #f1f4f7;
$infoBorderFaintHover: #dee6ed;
$infoBorderHover: #35678e;
$infoBorderSubdued: #7899b3;
$infoContent: #245a85;
$infoContentActive: #163954;
$infoContentDisabled: #7899b3;
$infoContentFaint: #f1f4f7;
$infoContentFaintActive: #c7d5e0;
$infoContentFaintDisabled: #7899b3;
$infoContentFaintHover: #dee6ed;
$infoContentHover: #35678e;
$infoContentSubdued: #7899b3;
$neutralBackground: #494947;
$neutralBackgroundActive: #363635;
$neutralBackgroundDisabled: #d2d3cd;
$neutralBackgroundFaint: #f3f4f2;
$neutralBackgroundFaintActive: #d2d3cd;
$neutralBackgroundFaintDisabled: #f3f4f2;
$neutralBackgroundFaintHover: #e5e6e2;
$neutralBackgroundHover: #636361;
$neutralBackgroundSubdued: #949591;
$neutralBorder: #494947;
$neutralBorderActive: #363635;
$neutralBorderDisabled: #d2d3cd;
$neutralBorderFaint: #e5e6e2;
$neutralBorderFaintActive: #949591;
$neutralBorderFaintDisabled: #e5e6e2;
$neutralBorderFaintHover: #d2d3cd;
$neutralBorderHover: #636361;
$neutralBorderSubdued: #636361;
$neutralContent: #262725;
$neutralContentActive: #363635;
$neutralContentDisabled: #636361;
$neutralContentFaint: #fdfdfd;
$neutralContentFaintActive: #d2d3cd;
$neutralContentFaintDisabled: #949591;
$neutralContentFaintHover: #e5e6e2;
$neutralContentHover: #636361;
$neutralContentSubdued: #636361;
$primaryBackground: #371ee1;
$primaryBackgroundActive: #2816a5;
$primaryBackgroundDisabled: #d4cef8;
$primaryBackgroundFaint: #f4f3fd;
$primaryBackgroundFaintActive: #d4cef8;
$primaryBackgroundFaintDisabled: #f4f3fd;
$primaryBackgroundFaintHover: #e5e2fb;
$primaryBackgroundHover: #5b47e6;
$primaryBackgroundSubdued: #9487ef;
$primaryBorder: #371ee1;
$primaryBorderActive: #1d1078;
$primaryBorderDisabled: #d4cef8;
$primaryBorderFaint: #f4f3fd;
$primaryBorderFaintActive: #d4cef8;
$primaryBorderFaintDisabled: #f4f3fd;
$primaryBorderFaintHover: #e5e2fb;
$primaryBorderHover: #5b47e6;
$primaryBorderSubdued: #9487ef;
$primaryContent: #371ee1;
$primaryContentActive: #1d1078;
$primaryContentDisabled: #9487ef;
$primaryContentFaint: #fdfdff;
$primaryContentFaintActive: #d4cef8;
$primaryContentFaintDisabled: #9487ef;
$primaryContentFaintHover: #e5e2fb;
$primaryContentHover: #5b47e6;
$primaryContentSubdued: #9487ef;
$secondaryBackground: #0f2a46;
$secondaryBackgroundActive: #081727;
$secondaryBackgroundDisabled: #ced4d9;
$secondaryBackgroundFaint: #f2f4f5;
$secondaryBackgroundFaintActive: #ced4d9;
$secondaryBackgroundFaintDisabled: #f2f4f5;
$secondaryBackgroundFaintHover: #e3e6ea;
$secondaryBackgroundHover: #1e3852;
$secondaryBackgroundSubdued: #8996a4;
$secondaryBorder: #0f2a46;
$secondaryBorderActive: #081727;
$secondaryBorderDisabled: #ced4d9;
$secondaryBorderFaint: #f2f4f5;
$secondaryBorderFaintActive: #ced4d9;
$secondaryBorderFaintDisabled: #f2f4f5;
$secondaryBorderFaintHover: #e3e6ea;
$secondaryBorderHover: #1e3852;
$secondaryBorderSubdued: #8996a4;
$secondaryContent: #0f2a46;
$secondaryContentActive: #081727;
$secondaryContentDisabled: #8996a4;
$secondaryContentFaint: #fdfdfd;
$secondaryContentFaintActive: #ced4d9;
$secondaryContentFaintDisabled: #8996a4;
$secondaryContentFaintHover: #e3e6ea;
$secondaryContentHover: #1e3852;
$secondaryContentSubdued: #8996a4;
$successBackground: #1c6549;
$successBackgroundActive: #113e2c;
$successBackgroundDisabled: #c4d7d0;
$successBackgroundFaint: #f0f5f3;
$successBackgroundFaintActive: #c4d7d0;
$successBackgroundFaintDisabled: #f0f5f3;
$successBackgroundFaintHover: #dde8e3;
$successBackgroundHover: #2a6f54;
$successBackgroundSubdued: #709e8c;
$successBorder: #1c6549;
$successBorderActive: #113e2c;
$successBorderDisabled: #c4d7d0;
$successBorderFaint: #f0f5f3;
$successBorderFaintActive: #c4d7d0;
$successBorderFaintDisabled: #f0f5f3;
$successBorderFaintHover: #dde8e3;
$successBorderHover: #2a6f54;
$successBorderSubdued: #709e8c;
$successContent: #1c6549;
$successContentActive: #113e2c;
$successContentDisabled: #709e8c;
$successContentFaint: #fdfdfd;
$successContentFaintActive: #c4d7d0;
$successContentFaintDisabled: #709e8c;
$successContentFaintHover: #dde8e3;
$successContentHover: #2a6f54;
$successContentSubdued: #709e8c;
$warningBackground: #983f00;
$warningBackgroundActive: #5c2700;
$warningBackgroundDisabled: #e4cebd;
$warningBackgroundFaint: #f8f2ee;
$warningBackgroundFaintActive: #e4cebd;
$warningBackgroundFaintDisabled: #f8f2ee;
$warningBackgroundFaintHover: #f0e3da;
$warningBackgroundHover: #9e4c11;
$warningBackgroundSubdued: #bf8962;
$warningBorder: #983f00;
$warningBorderActive: #5c2700;
$warningBorderDisabled: #e4cebd;
$warningBorderFaint: #f8f2ee;
$warningBorderFaintDisabled: #f8f2ee;
$warningBorderFaintHover: #f0e3da;
$warningBorderHover: #9e4c11;
$warningBorderSubdued: #bf8962;
$warningBorderAintActive: #e4cebd;
$warningContent: #983f00;
$warningContentActive: #5c2700;
$warningContentDisabled: #bf8962;
$warningContentFaint: #fefdfc;
$warningContentFaintActive: #e4cebd;
$warningContentFaintDisabled: #bf8962;
$warningContentFaintHover: #f0e3da;
$warningContentHover: #9e4c11;
$warningContentSubdued: #bf8962;
